.header {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-family: 'Eater', cursive;
    color: #e5e5e5;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    text-shadow: 6px 6px 12px #ab3700;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2.00px; 
    letter-spacing: 2px;
}

.subtitle {
    font-family: 'Miniver', cursive;
    color: #000000;
    font-size: 40px;
    text-align: center;
    text-shadow: 6px 6px 12px #ab3700;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1.00px; 
    margin-bottom: 20px;
}

.scores {
    font-family: 'Eater', cursive;
    font-size: 40px;
    text-align: center;
    text-shadow: 6px 6px 12px #ab3700;
    letter-spacing: 2px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1.00px; 
}

.message {
    font-family: 'Eater', cursive;
    color: #e5e5e5;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 6px 6px 12px #ab3700;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1.00px; 
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 60px;
    }

    .subtitle, .scores, .message {
        font-size: 36px;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 45px;
    }

    .subtitle, .scores, .message {
        font-size: 28px;
    }
}